body{
    text-align: center;
    justify-content: center;
    background-color: #000000;
    height: 100vh;
    margin: 0px;
    overflow-y: hidden;


}

.container{
    border: 2px solid #FF5F15;
    width: 24%;
    background-color: #e9eafffc;
    border-radius: 16px;
    margin-top: 4%;
    height: 78vh;
    margin-left: 31%;
}
.head{
    border: 2px solid #FF5F15;
    margin: 5px;
    text-align: center;
    background-color:#FF5F15;
    height: 9vh;
    border-radius: 5px;
    color: white;

}
input{
    height: 30px;
    width: 67%;
    margin: 5px;
    background-color: #ff5f1525;
    border: 2px solid #ff5f1528;
    padding-left: 14px;

    border-radius: 6px;
    box-shadow: 2px 2px 10px #FF5F15;

}
.inputbtn{
    height: 41px;
    width: 50px;
    border: 5px solid #FF5F15;
    background-color: #FF5F15;
    color: white;
    border-radius: 50%;
    width: 41px;
    margin-left: 6px;
    font-size: 27px;

}
.inputbtn:hover{
    border: 5px solid rgb(14, 249, 57);
    background-color:   rgb(14, 249, 57);
}
::placeholder{
    color: rgb(0, 0, 0);
}
.list{
    border: 2px solid #FF5F15;
    width: 89%;
    margin-left: 10px;
    height: 16%;
    border-radius: 11px;
    display: flex;
    color: white;
    font-size: 18px;
    margin-top: 19px;
    background-color: #ff5f15;
}
.list>p{
    margin-top: 15px;
    margin-left: 11px;
    font-size: 11px;

}
.box{
    overflow: auto;
    height: 50vh;

}
@media (min-width: 360px) and (max-width: 667px){

.container{
    width: 95%;
    margin-left: 2%;
    overflow-x: hidden;
    overflow-y: hidden;
}



}
@media (min-width: 280px) and (max-width: 359px){
   .container{
    width: 95%;
    margin-left: 2%;
    overflow-x: hidden;
    overflow-y: hidden;
   }

}
.box::-webkit-scrollbar {
    width: 10px;
  }
  .box::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
  }
  .box::-webkit-scrollbar-thumb {
    background: #FF5F15;
    border-radius: 10px;

  }
  @media (min-length: 280px) and (max-length: 370px){
    .head{
        height: 14vh;
    }
    .list{
        height: 26%;
    }
  }